body {
    margin: 0;
    background-color: rgb(221, 232, 236);
}

body > section {
    height: 100vh;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}