.userMasterDetailWrapper {
    display: grid;
    grid-template-columns: max-content auto;
    height: 100%;
    width: 1400px;
    margin: auto;
    background-color: #E4F1F6;
    box-shadow: 0px 10px 10px 5px #888888;
}

/* THE STYLES FOR THE MASTER SIDE NAV FOR USER CONSOLE */

.masterSideNav {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: rgb(255, 100, 0);
    box-shadow: 1px 0px 1px 0px #888888;
    position: relative;
}

.masterSideNavCollapsed {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 60px;
    background-color: rgb(255, 100, 0);
    box-shadow: 1px 0px 1px 0px #888888;
}

.sideNavHeader {
    width: 100%;
    margin-top: 60px;
}

.sideNavHeaderCollapsed {
    display: none;
}

.sideNavList {
    list-style: none;
    padding: 0;
}

.sideNavTab {
    font-family: Trebuchet MS;
    font-size: 1.5em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 10px;
}

.sideNavTabCollapsed {
    font-family: Trebuchet MS;
    font-size: 1.5em;
    display: grid;
    grid-template-columns: auto 0px;
    padding: 10px;
}

.sideNavTabInactive {
    color: white;
}

.sideNavTabActive {
    background-color: rgba(255, 174, 0, 0.76);
    color: black;
}

.sideNavList li:hover {
    cursor: pointer;
    background-color: rgba(255, 174, 0, 0.76);
    color: black;
}

.sideNavTabIcon {
    width: 25px;
    height: 25px;
    background-size: cover;
    margin: auto;
}

.myAnimeIcon {
    background-image: url('../../public/images/bookmark_white.png');
}

.sideNavList li:hover .myAnimeIcon {
    background-image: url('../../public/images/bookmark.png');
}

.myAnimeIconActive {
    background-image: url('../../public/images/bookmark.png');
}

.trendingIcon {
    background-image: url('../../public/images/trending_white.png');
}

.sideNavList li:hover .trendingIcon {
    background-image: url('../../public/images/trending.png');
}

.trendingIconActive {
    background-image: url('../../public/images/trending.png');
}

.newAnimeIcon {
    background-image: url('../../public/images/new_white.png');
}

.sideNavList li:hover .newAnimeIcon {
    background-image: url('../../public/images/new.png');
}

.newAnimeIconActive {
    background-image: url('../../public/images/new.png');
}

.sideNavTitle {
    font-family: Trebuchet MS;
    font-size: 1.5em;
    margin: 15px 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(255, 223, 155);
    color: rgb(255, 223, 155);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    line-height: 40px;
}

.sideNavTitleCollapsed {
    font-family: Trebuchet MS;
    font-size: 1.5em;
    margin: 15px 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(255, 223, 155);
    color: rgb(255, 223, 155);
    display: grid;
    grid-template-columns: auto auto;
    line-height: 40px;
    padding-top: 60px;
}

.sideNavTitle img, .sideNavTitleCollapsed img {
    width: 40px;
    margin: auto;
    border-radius: 50%;
}

.toggleExpandIconExpanded {
    width: 24px;
    height: 24px;
    margin: auto;
    background-repeat: no-repeat;
    background-image: url('../../public/images/chevron_left_white.png');
}

.toggleExpandIconCollapsed {
    width: 24px;
    height: 24px;
    margin: auto;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-image: url('../../public/images/chevron_right_white.png');
}

.toggleExpandIconExpanded:hover, .toggleExpandIconCollapsed:hover {
    cursor: pointer;
}

.footer {
    width: 100%;
    font-family: Trebuchet MS;
    position: absolute;
    bottom: 0;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

.sideNavTabText {
    width: 100%;
}

/* THE STYLES FOR THE DEATIL PORTION OF THE USER CONSOLE */

.userContentDetailWrapper {
    position: relative;
    overflow: hidden;
}

.detailWrapper {
    width: 100%;
    height: 100vh;
    padding-top: 60px;
    box-sizing: border-box;
    overflow: auto;
    position: absolute;
    right: -17px;
}

.detailList {
    display: grid;
    grid-template-columns: repeat(auto-fit, 440px);
    justify-content: center;
    padding-bottom: 200px;
}

.animeCardLinkContainer {
    margin: 20px auto;
    box-sizing: border-box;
    width: 400px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 1px #888888;
}

.animeCardContainer {
    display: grid;
    grid-template-columns: 180px auto;
    grid-template-rows: 40px 250px 30px;
    width: inherit;
    height: inherit;
    font-family: 'Trebuchet MS';
    position: relative;
    overflow: hidden;
}

.cardTitle {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    width: 100%;
    text-align: center;
    line-height: 40px;
    margin: 0;
    background-color: #EFF4FA;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #133863;
    
}

.cardTime {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    width: 100%;
    text-align: center;
    line-height: 30px;
    margin: 0;
    background-color: rgb(235, 244, 255);
    color: #609CE1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cardImage {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 180px;
    height: 250px;
    object-fit: cover;
}

.desciprtionGenreWrapper {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 250px;
    display: grid;
    grid-template-rows: auto max-content;
}

.cardDescription {
    overflow: hidden;
    line-height: 15px;
    width: 100%;
    font-size: 0.8em;
    color: gray;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    cursor: default;
    user-select: text;
}

.cardDescription:hover {
    overflow: auto;
}

.cardGenres {
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(244, 249, 255);
    font-size: 0.8em;
    padding: 10px 5px;
    color: #609CE1;
    width: 100%;
}


/* GENERAL CLASSES */

.hidden {
    display: none;
}

/* RESPONSIVE CLASSES */

@media only screen and (max-width: 1400px) {
    .userMasterDetailWrapper {
        grid-template-columns: auto;
        width: 100%;
    }

    .masterSideNav, .masterSideNavCollapsed {
        height: auto;
        width: 300px;
        box-shadow: none;
        position: fixed;
        bottom: 0;
        margin: 0px auto;
        left: 0;
        right: 0;
        z-index: 1;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        box-shadow: 0px 1px 5px 2px #888888;
    }

    .sideNavList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0;
    }

    .sideNavList > li:first-child {
        border-top-left-radius: 5px;
    }

    .sideNavList > li:last-child {
        border-top-right-radius: 5px;
    }
    
    .sideNavHeader, .sideNavHeaderCollapsed, .sideNavTitle, 
    .sideNavTitleCollapsed, .sideNavTitle img, .sideNavTitleCollapsed img,
    .footer, .sideNavTabText {
        display: none;
    }
    
    .sideNavTab, .sideNavTabCollapsed {
        grid-template-columns: auto 0px;
    }

    .toggleExpandIconExpanded, .toggleExpandIconCollapsed {
        display: none;
    }

    .detailWrapper {
        padding-top: 30px;
        right: 0px;
    }
}

@media only screen and (max-width: 650px) {
    .animeCardLinkContainer {
        width: 300px;
    }
}